<%= render template: "shared/header" %>

<h1>Storage#<%= @storage.resources.first.id %></h1>
<% @local_resource = @storage.resources.first %>
<%= render template: "shared/resource_table" %>

<br/>
<a href="/storage/">&laquo; Back</a>

<%= render template: "shared/footer" %>