[project]
	description = OCCI service provider
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Boris Parak (arax)
[access "refs/for/refs/*"]
	read = group user/Boris Parak (arax)
	push = group user/Boris Parak (arax)
	label-Code-Review = -2..+2 group user/Boris Parak (arax)
	label-Verified = -1..+1 group user/Boris Parak (arax)
	rebase = group user/Boris Parak (arax)
	removeReviewer = group user/Boris Parak (arax)
	submit = group user/Boris Parak (arax)
[access "refs/heads/*"]
	read = group user/Boris Parak (arax)
	create = group user/Boris Parak (arax)
	push = +force group user/Boris Parak (arax)
	pushMerge = group user/Boris Parak (arax)
[access "refs/tags/*"]
	push = +force group user/Boris Parak (arax)
	pushTag = group user/Boris Parak (arax)
	pushSignedTag = group user/Boris Parak (arax)
