<!DOCTYPE html>
<html>
<head>
  <title>rOCCI-server | <%= controller_name.humanize %> | <%= action_name.humanize %></title>
</head>
<body>

<div style="margin: auto">
<!-- START BODY -->
  <div style="float: right; margin-top: -13px;">Logged in as: <%= @current_user.identity.inspect %></div>
