<table width="100%" style="border: solid 1px; text-align: left">
	<thead>
		<tr style="text-align: center">
			<th width="20%">ID</th>
			<th>Title</th>
			<th width="20%">Link</th>
		</tr>
	</thead>
	<tbody>
		<% @local_resources.each do |resource| %>
		<tr>
			<td><%= resource.id %></td>
			<td><%= resource.title %></td>
			<td><a href="<%= resource.location %>"><%= resource.location %></a></td>
		</tr>
		<% end %>
	</tbody>
</table>