<table width="100%" style="border: solid 1px; text-align: left">
	<thead>
		<tr style="text-align: center">
			<th>Identifier</th>
			<th width="20%">Link</th>
		</tr>
	</thead>
	<tbody>
		<% @local_resource_types.each do |resource_type| %>
		<tr>
			<td><%= resource_type.type_identifier %></td>
			<td><a href="<%= resource_type.location %>"><%= resource_type.location %></a></td>
		</tr>
		<% end %>
	</tbody>
</table>