<%= render template: "shared/header" %>

<h1>Model</h1>

<table width="100%" style="border: solid 1px; text-align: left">
	<thead style="text-align: center">
		<tr>
			<th colspan="2"><h2>/-/</h2></th>
		</tr>
	</thead>
	<tbody>
		<% @model.instance_variables.each do |inst_var_sym| %>
			<% next if [ :@resources, :@links ].include? inst_var_sym %>
		<tr style="background: grey">
			<td colspan="2" style="font-weight: bold"><%= inst_var_sym.to_s.reverse.chomp('@').reverse.capitalize %></td>
		</tr>
			<%
			inst_var = @model.instance_variable_get(inst_var_sym)
			next unless inst_var.respond_to? :each
			%>
			<% inst_var.each do |var| %>
		<tr>
			<td colspan="2">[ <%= var.type_identifier %> ]</td>
		</tr>
			<% end %>
		<% end %>
	</tbody>
</table>

<br/>
<a href="/">&laquo; Back</a>

<%= render template: "shared/footer" %>