<%= render template: "shared/header" %>

<h1>Resources w/ mixin(s)</h1>
<% @local_resources ||= @resources %>
<%= render template: "shared/resources_table" %>

<%= render template: "shared/footer" %>
