<%= render template: "shared/header" %>

<h1>Resources w/ mixin(s)</h1>
<% @local_resources ||= @resources.resources %>
<%= render template: "shared/resources_table" %>

<br/>
<a href="/compute/">&laquo; Back</a>

<%= render template: "shared/footer" %>
