<%= render template: "shared/header" %>

<h1>Storagelink</h1>
<% @local_resources = @sls.links %>
<%= render template: "shared/resources_table" %>

<br/>
<a href="/">&laquo; Back</a>

<%= render template: "shared/footer" %>