<%= render template: "shared/header" %>

<h1>Storagelink#<%= @storagelink.id %></h1>
<% @local_resource = @storagelink %>
<%= render template: "shared/resource_table" %>

<br/>
<a href="/storagelink/">&laquo; Back</a>

<%= render template: "shared/footer" %>