<%= render template: "shared/header" %>

<h1>Networkinterface#<%= @networkinterface.id %></h1>
<% @local_resource = @networkinterface %>
<%= render template: "shared/resource_table" %>

<br/>
<a href="/networkinterface/">&laquo; Back</a>

<%= render template: "shared/footer" %>